.logo{
    max-width: 60px;
    max-height: 100px;
}
.simple-text-d{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.card-img{
    height: 165px !important;
    width: 330px !important;
}
